<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration Form</title>
</head>
<body>
    <h1>Registration Form</h1>
    <form method="post" action="">
        {% csrf_token %}
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="password2">Confirm Password:</label><br>
        <input type="password" id="password2" name="password2"><br><br>
        <input type="submit" value="Submit">
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
    </form>
</body>
</html>
